---
title: false
---

@import "garth";

.typeset p {
    margin-bottom: 0.3rem;
}

.typeset ul li,
.typeset ol li {
    margin-left: 2rem;
}

.typeset blockquote p {
    margin-left: 1rem;
}

.post-tags {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.post-tags a {
    text-decoration: none;
    margin-right: 0.5rem;
    color: #666;
}

.post-tags a:hover {
    text-decoration: underline;
}
